.c-outer-div {
   width: 100%;
   display: grid;
   grid-template-columns: 20% 50% 10% 10% 10%;
   align-items: center;
}
.c-img-div {
   height: 15rem;
   width: auto;
}
.c-img-div img {
   height: 100%;
   width: auto;
   object-fit: cover;
}
.c-qty {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
